@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  margin: 0;
  font-family: "Kanit", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Kanit", sans-serif !important;
}

.MuiTypography-body1 {
  font-family: "Kanit", sans-serif !important;
}

.MuiTypography-h6 {
  font-family: "Kanit", sans-serif !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #f38181 !important;
}

.MuiRadio-root {
  color: #f38181 !important;
}

.MuiCheckbox-root {
  color: #f38181 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #f38181 !important;
}

.MuiInputLabel-outlined {
  font-family: "Kanit" !important;
}

#TextField-label {
  font-family: "Kanit" !important;
}

#TextField {
  font-family: "Kanit" !important;
}
/* ::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3f51b5;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
} */
